@page
@model Samanik.Web.Areas.Administration.Pages.Product.ProductCategory.IndexModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "لیست دسته‌بندی محصولات";
}

<div class="container-fluid">
    <div class="layout-specing">
        <div class="d-md-flex justify-content-between">
            <div>
                <h5 class="mb-0">دسته‌بندی‌ها</h5>

                <nav aria-label="breadcrumb" class="d-inline-block mt-1">
                    <ul class="breadcrumb breadcrumb-muted bg-transparent rounded mb-0 p-0">
                        <li class="breadcrumb-item"><a href="index.html">سمانیک</a></li>
                        <li class="breadcrumb-item"><a href="index.html">محصولات</a></li>
                        <li class="breadcrumb-item active" aria-current="page">مدیریت دسته‌بندی‌ها</li>
                    </ul>
                </nav>
            </div>

            <div class="mt-4 mt-sm-0">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCategory">افزودن دسته‌بندی جدید</a>
                <a href="/Administration/Product/ProductManagement" class="btn btn-warning" data-bs-toggle="modal">بازگشت</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-4">
                <div class="table-responsive shadow rounded">
                    <table class="table table-center bg-white mb-0">
                        <thead>
                            <tr>
                                <th class="border-bottom py-3">تصویر</th>
                                <th class="border-bottom py-3">عنوان</th>
                                <th class="border-bottom py-3">نام مادر</th>
                                <th class="border-bottom py-3">تاریخ ایجاد</th>
                                <th class="border-bottom py-3" style="min-width: 180px;">توضیحات کوتاه</th>
                                <th class="border-bottom py-3" style="min-width: 100px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListProductCategoryDto.ProductCategories)
                            {
                                <tr>
                                    <td class="py-3">
                                        <a href="#" class="text-dark">
                                            <div class="d-flex align-items-center">
                                                <img src="data:/Them/assets/img/blog;base64,@Convert.ToBase64String(item.Avatar)" class="avatar avatar-md-sm rounded-circle shadow" title="@item.AvatarTitle" alt="@item.AvatarAlt">

                                            </div>
                                        </a>
                                    </td>
                                    <td>@item.Title</td>
                                    @if (@item.ParentId == null)
                                    {
                                        <td>_</td>
                                    }
                                    else
                                    {
                                        <td>@item.ParentId</td>
                                    }

                                    <td>@item.RegisterDateFa</td>
                                    <td>@item.Description</td>
                                    <td class="text-start">
                                        @*<a href="#" class="btn btn-icon btn-pills btn-soft-warning" onclick="getIdCategoryAndPassItToModal(@item.Id)" data-bs-toggle="modal" data-bs-target="#addPropertyCategory">
                                                <i class="uil uil-plus" title="افزودن ویژگی"></i>
                                            </a>*@
                                        <a href="/administration/product/productcategory/edit/@item.Id" class="btn btn-icon btn-pills btn-soft-success" data-bs-toggle="modal">
                                            <i class="uil uil-pen"></i>
                                        </a>
                                        @if (item.IsDelete)
                                        {
                                            <form method="post" asp-page-handler="Active" class="float-left">
                                                <button class="btn btn-icon btn-pills btn-soft-primary  uil uil-refresh"></button>
                                                <input type="hidden" name="id" value="@item.Id" />
                                            </form>

                                        }
                                        else
                                        {
                                            <form method="post" asp-page-handler="Deactive" class="float-left">
                                                <button class="btn btn-icon btn-pills btn-soft-danger uil uil-trash"></button>
                                                <input type="hidden" name="id" value="@item.Id" />
                                            </form>
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div><!--end row-->

        <div class="row text-center">
            <div class="col-12 mt-4">
                <ul class="pagination justify-content-end mb-0 list-unstyled">
                    <li><a href="#" class="pe-3 ps-3 pt-2 pb-2 border">قبلی</a></li>
                    <li class="active"><a href="#" class="pe-3 ps-3 pt-2 pb-2 border">1</a></li>
                    <li><a href="#" class="pe-3 ps-3 pt-2 pb-2 border">2</a></li>
                    <li><a href="#" class="pe-3 ps-3 pt-2 pb-2 border">بعدی</a></li>
                </ul><!--end pagination-->
            </div><!--end col-->
        </div><!--end row-->
    </div>


</div><!--end container-->
<!-- Start Modal -->
<div class="modal fade" id="newCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom p-3">
                <h5 class="modal-title" id="exampleModalLabel">افزودن دسته‌بندی جدید</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-3 pt-4">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-grid">
                                <p class="text-muted">آپلود آیکون دسته‌بندی، برای آپلود آیکون لطفا بر روی "بارگذاری تصویر" کلیک نمایید.</p>
                                <div class="preview-box d-block justify-content-center rounded shadow overflow-hidden bg-light p-1"></div>
                                <input type="file" id="input-file" name="Image" accept="image/*" onchange={handleChange()} hidden
                                       required oninvalid="setCustomValidity('لطفاً  تصویر  را انتخاب کنید')"
                                       oninput="setCustomValidity('')" />
                                <label class="btn-upload btn btn-primary mt-4" for="input-file">بارگذاری تصویر</label>
                            </div>
                            <br />
                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label">عنوان تصویر <span class="text-danger">*</span></label>
                                    <input asp-for="dto.AvatarTitle" id="AvatarTitle" type="text" class="form-control" placeholder="Image Title :"
                                           required oninvalid="setCustomValidity('لطفاً  عنوان تصویر  را وارد کنید')"
                                           oninput="setCustomValidity('')">
                                </div>
                            </div><!--end col-->

                            <div class="col-12">
                                <div class="mb-3">
                                    <label class="form-label">متن جایگزین <span class="text-danger">*</span></label>
                                    <input asp-for="dto.AvatarAlt" id="AvatarAlt" type="text" class="form-control" placeholder="Image Alt :"
                                           required oninvalid="setCustomValidity('لطفاً متن جایگزین  را وارد کنید')"
                                           oninput="setCustomValidity('')">
                                </div>
                            </div><!--end col-->

                        </div><!--end col-->

                        <div class="col-md-8 mt-4 mt-sm-0">
                            <div class="me-md-4">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">عنوان <span class="text-danger">*</span></label>
                                            <input asp-for="dto.Title" id="Title" type="text" class="form-control" placeholder="Title :"
                                                   required oninvalid="setCustomValidity('لطفاً  عنوان  را وارد کنید')"
                                                   oninput="setCustomValidity('')">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label"> اسلاگ: <span class="text-danger">*</span></label>
                                            <input asp-for="dto.Slug" type="text" class="form-control" id="Slug" placeholder="Slug :">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">دسته مادر</label>
                                            <select asp-items="ViewBag.ProductCategories" asp-for="dto.ParentId" class="form-control">
                                                <option value="" selected>دسته اصلی</option>
                                            </select>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label class="form-label">توضیحات <span class="text-danger">*</span></label>
                                            <textarea asp-for="dto.Description" id="comments" rows="4" class="form-control" placeholder="Meta Description :"
                                                      required oninvalid="setCustomValidity('لطفاً توضیحات را وارد کنید')"
                                                      oninput="setCustomValidity('')"></textarea>
                                        </div>
                                    </div><!--end col-->


                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">کلمات کلیدی <span class="text-danger">*</span></label>
                                            <input asp-for="dto.Keywords" type="text" class="form-control" placeholder="Keywords :">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12 text-end">
                                        <button type="submit" class="btn btn-primary">افزودن دسته‌بندی</button>
                                    </div><!--end col-->
                                </div>

                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->
<!-- Start Modal Add Property Category-->
<div class="modal fade" id="addPropertyCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom p-3">
                <h5 class="modal-title" id="exampleModalLabel">افزودن دسته‌بندی جدید</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-3 pt-4">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" name="categoryId" id="categoryId" />
                    <div class="row">

                        <div class="col-md-8 mt-4 mt-sm-0">
                            <div class="me-md-4">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">نام ویژگی <span class="text-danger">*</span></label>
                                            <input id="nameProperty" name="nameProperty" type="text" class="form-control" placeholder="Name Property :">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label"> نوع: <span class="text-danger">*</span></label>
                                            <select asp-items="ViewBag.FilterTypeCategory" id="typeProperty" name="filterTypeCategoryId" class="form-control">
                                                <option value="" selected disabled>نوع را انتخاب کنید</option>
                                            </select>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12 text-end">
                                        <button type="submit" asp-page-handler="AddPropertyCategory" class="btn btn-primary">افزودن دسته‌بندی</button>
                                    </div><!--end col-->
                                </div>

                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End modal -->
@section Scripts
        {
    <script>
        const handleChange = () => {
            const fileUploader = document.querySelector('#input-file');
            const getFile = fileUploader.files
            if (getFile.length !== 0) {
                const uploadedFile = getFile[0];
                readFile(uploadedFile);
            }
        }

        const readFile = (uploadedFile) => {
            if (uploadedFile) {
                const reader = new FileReader();
                reader.onload = () => {
                    const parent = document.querySelector('.preview-box');
                    parent.innerHTML = `<img class="preview-content" src=${reader.result} />`;
                };

                reader.readAsDataURL(uploadedFile);
            }
        };
    </script>

    <script>
        document.getElementById("Title").addEventListener("input", function () {
            let theSlug = string_to_slug(this.value);
            document.getElementById("Slug").value = theSlug;
        });

        function string_to_slug(str) {
            str = str.replace(/^\s+|\s+$/g, ""); // trim

            // remove accents, swap ñ for n, etc
            var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
            var to = "aaaaeeeeiiiioooouuuunc------";
            for (var i = 0, l = from.length; i < l; i++) {
                str = str.replace(new RegExp(from.charAt(i), "g"), to.charAt(i));
            }

            str = str.replace(/[^a-z0-9-آ-ی-]/gi, '-').replace(/-+/g, '-').replace(/^-|-$/g, '');
            //.replace(/[^a-z0-9 -]/g, "") // remove invalid chars
            //.replace(/\s+/g, "-") // collapse whitespace and replace by -
            //.replace(/-+/g, "-"); // collapse dashes

            return str;
        }



    </script>

    <script>
        document.getElementById("Title").addEventListener("input", function () {
            let theSlug = string_to_slug(this.value);
            document.getElementById("Slug").value = theSlug;
        });

        function string_to_slug(str) {
            str = str.replace(/^\s+|\s+$/g, ""); // trim

            // remove accents, swap ñ for n, etc
            var from = "àáäâèéëêìíïîòóöôùúüûñç·/_,:;";
            var to = "aaaaeeeeiiiioooouuuunc------";
            for (var i = 0, l = from.length; i < l; i++) {
                str = str.replace(new RegExp(from.charAt(i), "g"), to.charAt(i));
            }

            str = str.replace(/[^a-z0-9-آ-ی-]/gi, '-').replace(/-+/g, '-').replace(/^-|-$/g, '');
            //.replace(/[^a-z0-9 -]/g, "") // remove invalid chars
            //.replace(/\s+/g, "-") // collapse whitespace and replace by -
            //.replace(/-+/g, "-"); // collapse dashes

            return str;
        }

    </script>
}