@page "{id}/{productId}/{email}"
@model Samanik.Web.Areas.Administration.Pages.Product.Comments.AnswersModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "مدیریت پاسخگویی به نظرات";
    var commentId = ViewBag.id;
    var productId = ViewBag.productId;
}
<div class="container-fluid">
    <div class="layout-specing">

        <div class="row">
            <div class="col-lg-12 col-lg-11 mt-4">
                <div class="card rounded shadow border-0 overflow-hidden">
                    <img src="/themadmin/images/blog/single.jpg" class="img-fluid" alt="">

                    <div class="p-4">

                        <h5 class="card-title mt-4 mb-0">نظرات :</h5>

                        <ul class="media-list list-unstyled mb-0">
                            @if (Model.listComment.ProComments.Count == 0)
                            {
                                <li>
                                    <span style="color:red">نظری یافت نشد</span>

                                </li>
                            }
                            else
                            {
                                @foreach (var item in @Model.listComment.ProComments)
                                {
                                    <li class="mt-4">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <a class="ps-3" href="#">
                                                </a>
                                                <div class="commentor-detail">
                                                    <h6 class="mb-0"><a href="javascript:void(0)" class="media-heading text-dark">@item.Email</a></h6>
                                                    <small class="text-muted">@item.RegisterDate </small>
                                                </div>
                                            </div>
                                            <a href="/Administration/Product/Comments/answers/@item.Id/@item.ProductId/@item.Email">
                                                <i class="mdi mdi-reply"></i> پاسخ
                                            </a>

                                        </div>
                                        <div class="mt-3">
                                            <p class="text-muted font-italic p-3 bg-light rounded">
                                                @item.Message
                                            </p>
                                        </div>

                                        @if (Model.listAnswerComment.count != 0)
                                        {
                                            <ul class="list-unstyled pe-4 pe-md-5 sub-comment">

                                                @foreach (var answer in @Model.listAnswerComment.ProComments)
                                                {
                                                    <li class="mt-4">
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <a class="ps-3" href="#">
                                                                </a>
                                                                <div class="commentor-detail">
                                                                    <h6 class="mb-0">
                                                                        <a href="javascript:void(0)" class="text-dark media-heading">
                                                                            @answer.Email
                                                                        </a>
                                                                    </h6>
                                                                    <small class="text-muted">
                                                                        @answer.RegisterDate
                                                                    </small>
                                                                </div>
                                                            </div>
                                                            @*  <form method="post" asp-page-handler="Cancel" class="float-left">
                                            <a style="color:red" asp-route-id="@answer.Id">
                                            <i class="mdi mdi-reply"></i> حذف
                                            </a>*@
                                                            <form method="post" asp-page-handler="Cancel" class="float-left">
                                                                <button class="btn btn-icon btn-pills btn-soft-danger uil uil-trash"></button>
                                                                <input type="hidden" name="id" value="@answer.Id" />
                                                            </form>
                                                            @*</form>*@




                                                        </div>
                                                        <div class="mt-3">
                                                            <p class="text-muted font-italic p-3 bg-light rounded">
                                                                @answer.Message
                                                            </p>
                                                        </div>
                                                    </li>
                                                }

                                            </ul>

                                        }

                                        else
                                        {
                                            <span style="color:red">پاسخی برای این نظر یافت نشد</span>
                                        }

                                    </li>
                                }
                            }



                        </ul>

                        <h5 class="card-title mt-4 mb-0">نظر بدهید :</h5>

                        <form method="post" class="mt-3">
                            <input type="hidden" asp-for="@Model.Commentdto.Id" value="@commentId">
                            <input type="hidden" asp-for="@Model.Commentdto.ProductId" value="@productId">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">نظر شما</label>
                                        <textarea id="message" asp-for="@Model.Commentdto.Message" placeholder="نظر شما" rows="5"
                                                  class="form-control" required=""></textarea>
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">نام<span class="text-danger">*</span></label>
                                        <input id="name" asp-for="@Model.Commentdto.Name" type="text" placeholder="نام" class="form-control" required="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">ایمیل شما <span class="text-danger">*</span></label>
                                        <input id="email" type="email" placeholder="ایمیل" asp-for="@Model.Commentdto.Email" class="form-control" required="">
                                    </div>
                                </div><!--end col-->

                                <div class="col-md-12">
                                    <div class="send d-grid">
                                        <button type="submit" class="btn btn-primary">ارسال پیام</button>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </form><!--end form-->
                    </div>
                </div>
            </div><!--end col-->


        </div><!--end row-->
    </div>
</div><!--end container-->