@page
@model Samanik.Web.Pages.MainPage.ContactModel
@{
    ViewData["Title"] = "تماس با ما | بانوهلث";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}
    <div class="breadcrumbs_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="/Index">خانه</a></li>
                            <li>تماس با ما</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs area end-->
    <!--about bg area start-->
    <div class="contact_page_bg">
        <!--contact map start-->
@*        <div class="contact_map">
            <div class="map-area">
                <div id="googleMap"></div>
            </div>
        </div>*@
        <!--contact map end-->
        <div class="container">
            <!--contact area start-->
            <div class="contact_area">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="contact_message content">
                            <h3>تماس با ما</h3>
                            <p>@Model.dto.Description</p>
                            <ul>
                                <li><i class="fa fa-fw fa-fax"></i>@Model.dto.Address</li>
                                <li><i class="fa fa-fw fa-phone"></i> <span class="ltr-text">@Model.dto.Phone</span></li>
                                <li><i class="fa fa-fw fa-envelope-o"></i> <a href="#">@Model.dto.Email</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="contact_message form">
                            <h3>با ما در میان بگذارید</h3>
                            <form id="contact-form" method="POST" >
                                <p>
                                    <label> نام شما (الزامی)</label>
                                    <input asp-for="@Model.callDto.Name" placeholder="نام *" type="text" required>
                                </p>
                                <p>
                                    <label> ایمیل شما (الزامی)</label>
                                    <input asp-for="@Model.callDto.Email" placeholder="* ایمیل" type="email" dir="ltr" required>
                                </p>
                                <p>
                                    <label> موضوع</label>
                                    <input asp-for="@Model.callDto.Title" placeholder="موضوع" type="text">
                                </p>
                                <div class="contact_textarea">
                                    <label> پیام شما</label>
                                    <textarea asp-for="@Model.callDto.Message" placeholder="پیام *" class="form-control2" required></textarea>
                                </div>
                                <button type="submit">ارسال</button>
                                <p class="form-messege"></p>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!--contact area end-->
        </div>
    </div>

    <!--map js code here-->
   @* <script src="https://maps.google.com/maps/api/js?sensor=false&libraries=geometry&v=3.22&key=AIzaSyAEn4c_T1rFt7ltf_oNavnjND8dDPm4KQs&language=fa"></script>
    <script src="https://www.google.com/jsapi"></script>
    <script src="/Them/assets/js/map.js"></script>
*@