@page
@model IndexModel
@{
    Layout = "";


    ViewData["Title"] = "صفحه اصلی | سمانیک";
    ViewData["Description"] = Model.settingDto.Description;
    ViewData["Keywords"] = Model.settingDto.Keywords;

    int articlecounter = 0;
    int productcounter = 0;
    int productcounter2 = 0;
}
<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">

<head>
    <partial name="_MetaTags" />
    <partial name="_Styles" />
</head>

<body>
    <!--Offcanvas menu area start-->
    <div class="off_canvars_overlay"></div>
    <!--هدر-->
    <header>
        <div class="main_header">
            <div class="container">
                <!--header top start-->
                <div class="header_top">
                    <div class="row align-items-center">
                        <a asp-page="/Index"> 
                            <img src="~/Them/assets/img/bg/@Model.bannerDto.AvatarShow9" alt="@Model.bannerDto.Title9" 
                            title="@Model.bannerDto.Title9" /></a>
                    </div>
                </div>
                <!--header top start-->
                <!--header middel start-->
                <div class="header_middle sticky-header">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-6">
                            <div class="logo">
                                <a asp-page="/Index"><img src="~/Them/LogoSamanik/MainLogo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12">
                            <div class="main_menu menu_position text-center">
                                <nav>
                                    <ul>
                                        <li>
                                            <a class="active" asp-page="/Index">خانه<i class="fa "></i></a>
                                        </li>
                                        @await Component.InvokeAsync("ProductCategory")

                                        <li>
                                            <a asp-page="/Blog/Index">بلاگ<i class="fa "></i></a>
                                        </li>
                                        <li><a asp-page="/About">درباره ما</a></li>
                                        <li><a asp-page="/Contact"> تماس با ما</a></li>
                                        <li><a asp-page="/Login/loginApp"> پنل مدیریت</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
                <!--header middel end-->
                <!--header bottom satrt-->
                <div class="header_bottom">
                    <div class="row align-items-center">
                        <div class="column1 col-lg-3 col-md-6">
                            <div class="categories_menu">
                                <div class="categories_title">
                                    <h2 class="categori_toggle">دسته بندی مقالات</h2>
                                </div>
                                <div class="categories_menu_toggle">
                                    @await Component.InvokeAsync("ArticleCategory")
                                </div>
                            </div>

                        </div>
                        <div class="column2 col-lg-6 ">
                            <div class="search_container">
                                <form asp-page="/Blog/ArticleSearch" id="livesearchtags" method="get">
                                    <div class="hover_category">
                                        <select class="select_option" name="categoryId" id="categori2">
                                            <option selected value="1">مقالات</option>
                                            <option value="2">محصولات </option>

                                        </select>
                                    </div>
                                    <div class="search_box">
                                        <input name="title" id="Name" placeholder="جستجو  ..." type="text">
                                        <button type="submit">جستجو</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="column3 col-lg-3 col-md-6">
                            <div class="header_bigsale">
                                <a href="/Products/Popular/پر-فروش-ترین-مکمل-های-سلامتی">پرفروش‌ترین مکمل‌ها</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--header bottom end-->
            </div>
        </div>
    </header>
    <!--اسلایدر-->
    <section class="slider_section slider_s_one mb-60 mt-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-md-12">
                    <div class="swiper-container gallery-top">
                        <div class="slider_area swiper-wrapper">
                            @foreach (var item in Model.sliderDto.Sliders.OrderBy(a => a.Sort).Where(a => a.Status == true))
                            {
                                <div class="single_slider swiper-slide d-flex align-items-center" data-bgimg="/Them/assets/img/slider/@item.AvatarShow">
                                    <div class="slider_content">

                                    </div>
                                </div>  
                            }
                        </div>
                        <!-- Add Arrows -->

                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="swiper-container gallery-thumbs">
                        <div class="swiper-wrapper">
                            @foreach (var item in Model.sliderDto.Sliders.OrderBy(a => a.Sort).Where(a => a.Status == true))
                            {
                                <div class="swiper-slide">
                                    <a href="@item.Link"> @item.Title </a>
                                </div>
                            }
                        </div>
                    </div>

                </div>
                <div class="s_banner col-lg-3 col-md-12">
                    <!--banner area start-->
                    <div class="sidebar_banner_area">
                        <figure class="single_banner">
                            <div class="banner_thumb">
                                <a href="@Model.bannerDto.Link1"><img src="~/Them/assets/img/bg/@Model.bannerDto.AvatarShow1" alt="@Model.bannerDto.Title1" title="@Model.bannerDto.Title1"></a>
                            </div>
                        </figure>
                        <figure class="single_banner">
                            <div class="banner_thumb">
                                <a href="@Model.bannerDto.Link2"><img src="~/Them/assets/img/bg/@Model.bannerDto.AvatarShow2" alt="@Model.bannerDto.Title2" title="@Model.bannerDto.Title2"></a>
                            </div>
                        </figure>
                        <figure class="single_banner">
                            <div class="banner_thumb">
                                <a href="@Model.bannerDto.Link3"><img src="~/Them/assets/img/bg/@Model.bannerDto.AvatarShow3" alt="@Model.bannerDto.Title3" title="@Model.bannerDto.Title3"></a>
                            </div>
                        </figure>
                    </div>
                    <!--banner area end-->
                </div>
            </div>
        </div>
    </section>
    <!--شعار تبلیغاتی-->
    <div class="shipping_area mb-60">
        <div class="container">
            <div class="shipping_inner">
                @foreach (var item in Model.sloganDto.Slogans.Where(a => a.IsActive == true))
                {
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <img style="max-height:60px; max-width:60px;" src="data:/Them/assets/img/blog;base64,@Convert.ToBase64String(item.Avatar)" alt="@item.AvatarAlt" title="@item.AvatarTitle">
                        </div>
                        <div class="shipping_content">
                            <h4>@item.Title</h4>
                            <p>@item.Description</p>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <!--banner area start-->
    <div class="banner_area banner_style2 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <figure class="single_banner">
                        <div class="banner_thumb">
                            <a href="@Model.bannerDto.Link4"><img src="~/Them/assets/img/bg/@Model.bannerDto.AvatarShow4" alt="@Model.bannerDto.Title4"></a>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-6 col-md-6">
                    <figure class="single_banner">
                        <div class="banner_thumb">
                            <a href="@Model.bannerDto.Link5"><img src="~/Them/assets/img/bg/@Model.bannerDto.AvatarShow5" alt="@Model.bannerDto.Title5"></a>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-3 col-md-3">
                    <figure class="single_banner">
                        <div class="banner_thumb">
                            <a href="@Model.bannerDto.Link6"><img src="~/Them/assets/img/bg/@Model.bannerDto.AvatarShow6" alt="@Model.bannerDto.Title6"></a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!--آخرین مطالب-->
    <div class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_title s_title_style3">
                        <h2>آخرین مطالب @Model.settingDto.Title</h2>
                    </div>
                    <div class="blog_container blog_column4 owl-carousel">
                        @foreach (var item in Model.ArticleDto.Articles.OrderByDescending(a => a.RegisterDate).Where(a=>a.IsDelete==false))
                        {
                            <article class="single_blog">
                                <figure>
                                    <div class="blog_thumb">
                                        <a href="/Blog/ArticleDetails/@item.Id/@item.Slug"><img src="data:/Them/assets/img/blog;base64,@Convert.ToBase64String(item.Avatar)" alt="@item.AvatarAlt" title="@item.AvatarTitle"></a>
                                    </div>
                                    <figcaption class="blog_content">
                                        <h4><a href="/Blog/ArticleDetails/@item.Id/@item.Slug">@item.Title</a></h4>
                                        <div class="post_meta">
                                            <p>توسط  <a href="#">مدیر</a> در تاریخ <a href="#">@item.RegisterDate</a></p>
                                        </div>
                                        <div class="post_desc">
                                            <p>@item.Description</p>
                                        </div>
                                        <footer class="post_readmore">
                                            <a href="/Blog/ArticleDetails/@item.Id/@item.Slug">بیشتر بخوانید</a>
                                        </footer>
                                    </figcaption>
                                </figure>
                            </article>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!--banner area start-->
    <div class="banner_area banner_three_bottom mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <figure class="single_banner">
                        <div class="banner_thumb">
                            <a href="@Model.bannerDto.Link7"><img src="~/Them/assets/img/bg/@Model.bannerDto.AvatarShow7" alt="@Model.bannerDto.Title7"></a>
                        </div>
                    </figure>
                </div>
                <div class="col-lg-6 col-md-6">
                    <figure class="single_banner">
                        <div class="banner_thumb">
                            <a href="@Model.bannerDto.Link8"><img src="~/Them/assets/img/bg/@Model.bannerDto.AvatarShow8" alt="@Model.bannerDto.Title8"></a>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!--home section bg area start-->
    <div class="home_section_bg">

        <!--دسته بندی مقالات با آیکون-->
        <div class="categories_product_area mb-55">
            <div class="container">
                <div class="categories_product_inner">
                    @foreach (var item in Model.ArticleCategoryDto.articleCategories.Where(a => a.IsDelete == false && a.ParentId == null))
                    {
                        <div class="single_categories_product">
                            <div class="categories_product_content">
                                <h4><a href="/Blog/ArticleByArticleCategory/@item.Id/@item.Slug">@item.Title</a></h4>
                            </div>
                            <div class="categories_product_thumb">
                                <a href="/Blog/ArticleByArticleCategory/@item.Id/@item.Slug"><img src="data:/Them/assets/img/blog;base64,@Convert.ToBase64String(item.Avatar)" alt="@item.AvatarAlt" title="@item.AvatarTitle"></a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <!--پر بازدیدتری مقالات-->
        <div id="most_visited_articles" class="blog_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section_title s_title_style3">
                            <h2>پربازدیدترین مطالب @Model.settingDto.Title</h2>
                        </div>
                        <div class="blog_container blog_column4 owl-carousel">
                            @foreach (var item in Model.ArticleDto.Articles.OrderByDescending(a => a.Visit).Where(a=>a.IsDelete==false))
                            {
                                articlecounter++;
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="/Blog/ArticleDetails/@item.Id/@item.Slug"><img src="data:/Them/assets/img/blog;base64,@Convert.ToBase64String(item.Avatar)" alt="@item.AvatarAlt" title="@item.AvatarTitle"></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4><a href="/Blog/ArticleDetails/@item.Id/@item.Slug">@item.Title</a></h4>
                                            <div class="post_meta">
                                                <p>بازدید  <a href="#">@item.Visit</a> | تاریخ <a href="#">@item.RegisterDate</a></p>
                                            </div>
                                            <div class="post_desc">
                                                <p>@item.Description</p>
                                            </div>
                                            <footer class="post_readmore">
                                                <a href="/Blog/ArticleDetails/@item.Id/@item.Slug">بیشتر بخوانید</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                                if (articlecounter == 10)
                                {
                                    articlecounter = 0;
                                    break;
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <br />

        <!--پر بازدید ترین ویدئو ها-->
        @*<div class="blog_area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_title s_title_style3">
                                <h2>پربازدیدترین ویدیو های @Model.settingDto.Title</h2>
                            </div>
                            <div class="blog_container blog_column4 owl-carousel">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <video width="320" height="240" controls>
                                                <source src="~/VedioProduct/movie.mp4" type="video/mp4">
                                                <source src="~/VedioProduct/movie.mp4" type="video/ogg">
                                                Your browser does not support the video tag.
                                            </video>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4><a href="blog-details.html">مطلب دارای گالری</a></h4>
                                            <div class="post_meta">
                                                <p>توسط  <a href="#">مدیر</a> در تاریخ <a href="#">18 بهمن 1398</a></p>
                                            </div>
                                            <div class="post_desc">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                                            </div>
                                            <footer class="post_readmore">
                                                <a href="#">بیشتر بخوانید</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>

                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <br />
        <br />


        <!--پرفروش ترین محصولات-->
        <div class="small_product_area mb-55">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="product_header">
                            <div class="section_title">
                                <h2>محصولات پرفروش</h2>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="tab-content">

                    <div class="tab-pane fade show active" id="Games2" role="tabpanel">
                        <div class="product_carousel small_p_container  small_product_column3 owl-carousel">
                            <div class="product_items">
                                @foreach (var item in Model.productDto.Products.Where(a => a.IsDelete == false && a.popular == true))
                                {
                                    productcounter++;
                                    <figure class="single_product">
                                        <div class="product_thumb">
                                            <a class="primary_img" href="/Products/@item.Id/@item.Slug"><img src="data:/Them/assets/img/blog;base64,@Convert.ToBase64String(item.Avatar1)" alt="@item.AvatarAlt1" title="@item.AvatarTitle1"></a>
                                        </div>
                                        <div class="product_content">
                                            <h4 class="product_name"><a href="/Products/@item.Id/@item.Slug">@item.Title</a></h4>
                                            <div class="product_rating">
                                                <span>@item.Description</span>
                                            </div>
                                            <div class="price_box">
                                                قیمت از
                                                <span class="current_price">@item.MinimumPrice</span>

                                            </div>
                                            <div class="product_cart_button">
                                                <a href="/Products/@item.Id/@item.Slug" title="مشاهده"><i class="fa fa-eye"></i></a>
                                            </div>

                                        </div>
                                    </figure>
                                    if (productcounter == 2)
                                        break;
                                }
                            </div>
                            <div class="product_items">
                                @foreach (var item in Model.productDto.Products.Where(a => a.IsDelete == false && a.popular == true))
                                {
                                    if (productcounter2 >= 2)
                                    {
                                        productcounter++;
                                        <figure class="single_product">
                                            <div class="product_thumb">
                                                <a class="primary_img" href="/Products/@item.Id/@item.Slug"><img src="data:/Them/assets/img/blog;base64,@Convert.ToBase64String(item.Avatar1)" alt="@item.AvatarAlt1" title="@item.AvatarTitle1"></a>
                                            </div>
                                            <div class="product_content">
                                                <h4 class="product_name"><a href="/Products/@item.Id/@item.Slug">@item.Title</a></h4>
                                                <div class="product_rating">
                                                    <span>@item.Description</span>
                                                </div>
                                                <div class="price_box">
                                                    قیمت از
                                                    <span class="current_price">@item.MinimumPrice</span>
                                                </div>
                                                <div class="product_cart_button">
                                                    <a href="/Products/@item.Id/@item.Slug" title="مشاهده"><i class="fa fa-eye"></i></a>
                                                </div>

                                            </div>
                                        </figure>
                                        if (productcounter == 4)
                                        {
                                            productcounter2 = 0;
                                            break;
                                        }

                                    }
                                    else
                                        productcounter2++;


                                }
                            </div>
                            <div class="product_items">
                                @foreach (var item in Model.productDto.Products.Where(a => a.IsDelete == false && a.popular == true))
                                {
                                    if (productcounter2 >= 4)
                                    {
                                        productcounter++;
                                        <figure class="single_product">
                                            <div class="product_thumb">
                                                <a class="primary_img" href="/Products/@item.Id/@item.Slug"><img src="data:/Them/assets/img/blog;base64,@Convert.ToBase64String(item.Avatar1)" alt="@item.AvatarAlt1" title="@item.AvatarTitle1"></a>
                                            </div>
                                            <div class="product_content">
                                                <h4 class="product_name"><a href="/Products/@item.Id/@item.Slug">@item.Title</a></h4>
                                                <div class="product_rating">
                                                    <span>@item.Description</span>
                                                </div>
                                                <div class="price_box">
                                                    قیمت از
                                                    <span class="current_price">@item.MinimumPrice</span>
                                                </div>
                                                <div class="product_cart_button">
                                                    <a href="/Products/@item.Id/@item.Slug" title="مشاهده"><i class="fa fa-eye"></i></a>
                                                </div>

                                            </div>
                                        </figure>
                                        if (productcounter == 6)
                                        {
                                            productcounter2 = 0;
                                            break;
                                        }

                                    }
                                    else
                                        productcounter2++;


                                }
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!--home section bg area end-->

    @await Component.InvokeAsync("Footer")
    <partial name="_Script" />
</body>

</html>