@model Data.Models.ArticleDto

<article class="single_blog">
    <figure>
        <div class="blog_thumb">
            <a href="/Blog/ArticleDetails/@Model.Id/@Model.Slug"><img src="data:/Them/assets/img/blog;base64,@Convert.ToBase64String(Model.Avatar)" alt="@Model.AvatarAlt" title="@Model.AvatarTitle"></a>
        </div>
        <figcaption class="blog_content">
            <h4><a href="/Blog/ArticleDetails/@Model.Id/@Model.Slug">@Model.Title</a></h4>
            <div class="post_meta">
                <p>توسط  <a href="#">@Model.author</a> در تاریخ <a href="#">@Model.RegisterDate</a></p>
            </div>
            @*<div class="post_desc">
                <p>@Model.Description</p>
            </div>*@
            <footer class="post_readmore">
                <a href="/Blog/ArticleDetails/@Model.Id/@Model.Slug">مطالعه مقاله</a>
            </footer>
        </figcaption>
    </figure>
</article>