@page
@model Samanik.Web.Areas.Administration.Pages.Blog.Articles.ArticleDetailModel
@{
    Layout = "_AdminLayout";
    int counter = 0;
}
<div class="container-fluid">
    <div class="layout-specing">
        <div class="d-md-flex justify-content-between">
            <div>
                <h5 class="mb-0"> @Model.articleDto.Title</h5>

                <ul class="list-unstyled mt-2 mb-0">
                    <li class="list-inline-item user text-muted ms-2"><i class="mdi mdi-account"></i> مهدی آریانژاد</li>
                    <li class="list-inline-item date text-muted"><i class="mdi mdi-calendar-check"></i> @Model.articleDto.RegisterDate</li>
                </ul>
            </div>

            <nav aria-label="breadcrumb" class="d-inline-block mt-4 mt-sm-0">
                <ul class="breadcrumb bg-transparent rounded mb-0 p-0">
                    <li class="breadcrumb-item"><a href="index.html">سمانیک</a></li>
                    <li class="breadcrumb-item"><a href="blogs.html">بلاگ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">جزییات بلاگ</li>
                </ul>
            </nav>
        </div>
        <br />
        <div class="mt-4 mt-sm-0">
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newblogadd">ویرایش مجله</a>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-7 mt-4">
                <div class="card rounded shadow border-0 overflow-hidden">

                    <img src="data:/Them/assets/img/blog;base64,@Convert.ToBase64String(Model.articleDto.Avatar)" class="img-fluid" alt="">

                    <div class="p-4">
                        @Html.Raw(Model.articleDto.Text)

                       
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-4 col-md-5 mt-4">
                <div class="card border-0 sidebar sticky-bar rounded shadow">
                    <div class="card-body">
                        <!-- SEARCH -->
                        <div class="widget mb-4 pb-2">
                            <h5 class="widget-title">جستجو</h5>
                            <div id="search2" class="widget-search mt-4 mb-0">
                                <form role="search" method="get" id="searchform1" class="searchform">
                                    <div>
                                        <input type="text" class="border rounded" name="s" id="s1" placeholder="جستجو کلیدواژه...">
                                        <input type="submit" id="searchsubmit1" value="جستجو">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- SEARCH -->
                        <!-- RECENT POST -->
                        <div class="widget mb-4 pb-2">
                            <h5 class="widget-title">پست های اخیر</h5>
                            <div class="mt-4">
                                @foreach (var item in Model.listArticleDto.Articles)
                                {
                                    counter++;
                                    <div class="clearfix post-recent">
                                        <div class="post-recent-thumb float-end"> <a href="jvascript:void(0)"> <img alt="img" src="data:/Them/assets/img/blog;base64,@Convert.ToBase64String(item.Avatar)" class="img-fluid rounded"></a></div>
                                        <div class="post-recent-content float-start"><a href="jvascript:void(0)">@item.Title </a><span class="text-muted mt-2">@item.RegisterDate</span></div>
                                    </div>
                                    if (counter == 5)
                                        break;
                                }


                            </div>
                        </div>
                        <!-- RECENT POST -->
                        <!-- TAG CLOUDS -->
                        <div class="widget mb-4 pb-2">
                            <h5 class="widget-title">برچسب‌ها</h5>
                            <div class="tagcloud mt-4">
                                @foreach (var item in Model.listArticleDto.Articles)
                                {
                                    <a href="jvascript:void(0)" class="rounded">@item.KeyWords</a>
                                }

                            </div>
                        </div>
                        <!-- TAG CLOUDS -->
                        <!-- SOCIAL -->
                        <div class="widget">
                            <h5 class="widget-title">ما را دنبال کنید</h5>
                            <ul class="list-unstyled social-icon mb-0 mt-4">
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="github" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="youtube" class="fea icon-sm fea-social"></i></a></li>
                                <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="gitlab" class="fea icon-sm fea-social"></i></a></li>
                            </ul><!--end icon-->
                        </div>
                        <!-- SOCIAL -->
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div>
</div><!--end container-->

<!-- Start Modal -->
<div class="modal fade" id="newblogadd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-bottom p-3">
                <h5 class="modal-title" id="exampleModalLabel">افزودن بلاگ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body p-3 pt-4">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="d-grid">
                                <p class="text-muted">لطفا با زدن دکمه بارگزاری تصویر ،عکس مورد نظرتان را برای مجله انتخاب کنید.</p>
                                <div class="preview-box d-block justify-content-center rounded shadow overflow-hidden bg-light p-1"></div>
                                <input type="file" id="input-file" name="Image" accept="image/*" onchange={handleChange()} hidden />
                                <label class="btn-upload btn btn-primary mt-4" for="input-file">بارگذاری تصویر</label>
                                <br />
                                <input type="hidden" asp-for="articleDto.Id" />
                                <div class="mb-3">
                                    <label class="form-label">عنوان تصویر: <span class="text-danger">*</span></label>
                                    <input asp-for="articleDto.AvatarTitle" id="name" type="text" class="form-control" placeholder="Image Tilte :">
                                </div>
                                <br />
                                <div class="mb-3">
                                    <label class="form-label">متن جایگذین تصویر: <span class="text-danger">*</span></label>
                                    <input asp-for="articleDto.AvatarAlt" id="name" type="text" class="form-control" placeholder="Image Alt :">
                                </div>
                            </div>
                        </div><!--end col-->

                        <div class="col-md-9 mt-4 mt-sm-0">
                            <div class="me-md-4">

                                <div class="row">
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">عنوان بلاگ: <span class="text-danger">*</span></label>
                                            <input asp-for="articleDto.Title" id="Title" type="text" class="form-control" placeholder="Blog Title :">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">دسته‌بندی: <span class="text-danger">*</span></label>

                                            <select class="form-control doctor-name select2input" asp-items="ViewBag.ArticleCategories" name="ListCategoryId" multiple>
                                                <option disabled>دسته‌بندی را انتخاب کنید</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label">اسلاگ: <span class="text-danger">*</span></label>
                                            <input asp-for="articleDto.Slug" id="Slug" type="text" class="form-control" placeholder="Slug :">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">توضیحات جامع مجله: <span class="text-danger">*</span></label>
                                            <textarea asp-for="articleDto.Text" id="myeditor" class="form-control" placeholder="Description :"></textarea>
                                            <script src="~/lib/ckeditor/ckeditor.js"></script>
                                            <script>
                                                CKEDITOR.replace("myeditor");
                                            </script>
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">توضیحات متا: <span class="text-danger">*</span></label>
                                            <input asp-for="articleDto.Description" id="name" type="text" class="form-control" placeholder="MetaDescription :">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">کلمات کلیدی: <span class="text-danger">*</span></label>
                                            <input asp-for="articleDto.KeyWords" id="name" type="text" class="form-control" placeholder="key words :">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-12">
                                        <div class="mb-3">
                                            <label class="form-label">تعداد نمایش: <span class="text-danger">*</span></label>
                                            <input asp-for="articleDto.Visit"  type="number" class="form-control" placeholder="Visit :">
                                        </div>
                                    </div><!--end col-->

                                    <div class="col-lg-12 text-end">
                                        <button type="submit" class="btn btn-primary">ویرایش بلاگ</button>
                                    </div><!--end col-->
                                </div>

                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </form>
            </div>

        </div>
    </div>
</div>

<!-- End modal -->