@page "{slug?}"
@model Samanik.Web.Pages.Products.PopularModel
@{
    ViewData["Title"] = "معرفی پر فروش ترین مکمل‌ها";
    ViewData["Description"] = "";
    ViewData["Keywords"] = "";
}


<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/Index">خانه</a></li>
                        <li>محصولات پر فروش</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop_area shop_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--sidebar widget start-->
                <aside class="sidebar_widget">
                    <div class="widget_list widget_categories">
                        <h3>دسته‌های محصولات</h3>
                        <ul>
                            <li>
                                <a class="category-level-2" style="color:red;" href="/shopping">همه محصولات</a>
                            </li>
                            @foreach (var item in Model.listProductCategoryDto.ProductCategories.Where(p => p.ParentId == null && p.IsDelete == false))
                            {
                                <li>
                                    <a class="category-level-2" href="/Shopping/ProductCategory/@item.Id/@item.Slug">@item.Title</a>
                                    <ul>
                                        @foreach (var itemsub in Model.listProductCategoryDto.ProductCategories.Where(p => p.ParentId == item.Id))
                                        {

                                            <li>
                                                <a href="/Shopping/ProductCategory/@itemsub.Id/@itemsub.Slug" class="category-level-2">@itemsub.Title</a>
                                                <ul>

                                                    @foreach (var itemsub2 in Model.listProductCategoryDto.ProductCategories.Where(p => p.ParentId == itemsub.Id))
                                                    {

                                                        <li>
                                                            <a href="/Shopping/ProductCategory/@itemsub2.Id/@itemsub2.Slug" class="category-level-3">@itemsub2.Title</a>
                                                            <ul>

                                                                @foreach (var itemsub3 in Model.listProductCategoryDto.ProductCategories.Where(p => p.ParentId == itemsub2.Id))
                                                                {

                                                                    <li><a href="/Shopping/ProductCategory/@itemsub3.Id/@itemsub3.Slug" class="category-level-3">@itemsub3.Title</a></li>

                                                                }
                                                            </ul>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>

                                        }
                                    </ul>

                                </li>
                            }
                        </ul>
                    </div>
                </aside>
                <!--sidebar widget end-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--shop banner area start-->
                <div class="shop_banner_area mb-10">
                    <div class="row">
                        <div class="col-12">
                            <div class="shop_banner_thumb">

                                <img src="~/ProductPicture/b1.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--shop toolbar start-->
                <div class="shop_toolbar_wrapper">
                    <div class="shop_toolbar_btn">
                        <button data-role="grid_4" type="button" class=" active btn-grid-4" data-toggle="tooltip" title="4"></button>
                    </div>
                    @*<div class="niceselect_container">
                        <form action="#">
                            <label>ترتیب:</label>
                            <select class="select_option" name="orderby" id="short">
                                <option selected value="1">امتیاز متوسط</option>
                                <option value="2">محبوبیت</option>
                                <option value="3">تاریخ ارسال</option>
                                <option value="4">قیمت صعودی</option>
                                <option value="5">قیمت نزولی</option>
                                <option value="6">نام محصول</option>
                            </select>
                        </form>
                    </div>*@
                </div>
                <!--shop toolbar end-->
                <!--shop wrapper start-->
                <div class="row no-gutters shop_wrapper">

                    @foreach (var item in Model.listProductDto.Products.Where(a => a.popular == true))
                    {
                        <div class="col-lg-3 col-md-4 col-12 ">
                           @Html.Partial("_Products",item)
                        </div>
                    }

                </div>
                <div paging-model="@Model.PagingData" page-class="btn border mt-3"
                     page-class-links="text-center" page-class-normal="btn" page-class-selected="btn btn-info  active" page-class-label="p-2 font-weight-bold  pt-md-2  text-center" class="text-center">
                </div>
            </div>

        </div>
    </div>

</div>




